<div class="nested-fields">
  <%= f.label :body, "Nội dung đáp án" %>
  <%= f.text_area :body, rows: 2, class: "form-control" %>

  <%= f.label :is_correct, "Đáp án đúng?" %>
  <%= f.check_box :is_correct %>

  <%= f.label :image_url, "Đường dẫn ảnh của đáp án" %>
  <%= f.text_field :image_url, class: "form-control" %>

  <%= link_to_remove_association "Xóa đáp án", f, class: "btn btn-danger" %>
</div>
