<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Chỉnh sửa Câu hỏi</title>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' %>
</head>
<body>
<div class="container mt-5">
  <h2>Chỉnh sửa câu hỏi</h2>
  <%= form_with model: @question, url: admin_question_path(@question), method: :patch, local: true, multipart: true do |f| %>
    <%= render 'form_content', f: f %>
    <%= render 'form_answers', f: f %>

    <div class="form-group">
      <%= f.submit "Cập nhật câu hỏi", class: "btn btn-primary" %>
      <%= link_to "Hủy", admin_questions_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/cocoon/1.2.14/cocoon.min.js' %>
</body>
</html>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/cocoon/1.2.14/cocoon.min.js' %>
<script>
  $(document).ready(function() {
    var answerIndex = $('.answer-fields').length;

    $("#add-answer").click(function(e) {
      e.preventDefault();
      var newAnswer = `
        <div class="card mb-3 answer-fields">
          <div class="card-body">
            <div class="form-group">
              <label for="question_answers_attributes_${answerIndex}_body">Nội dung đáp án</label>
              <input class="form-control" type="text" name="question[answers_attributes][${answerIndex}][body]" id="question_answers_attributes_${answerIndex}_body" placeholder="Nhập nội dung đáp án" required="required">
            </div>
            <div class="form-group form-check">
              <input class="form-check-input" type="checkbox" name="question[answers_attributes][${answerIndex}][is_correct]" id="question_answers_attributes_${answerIndex}_is_correct" value="1">
              <label class="form-check-label" for="question_answers_attributes_${answerIndex}_is_correct">Đáp án đúng</label>
            </div>
            <div class="form-group">
              <label for="question_answers_attributes_${answerIndex}_image">Hình ảnh cho đáp án</label>
              <input class="form-control-file" type="file" name="question[answers_attributes][${answerIndex}][image]" id="question_answers_attributes_${answerIndex}_image">
            </div>
            <button type="button" class="btn btn-danger btn-sm remove-answer">
              <i class="fas fa-trash"></i> Xóa đáp án
            </button>
          </div>
        </div>
      `;
      $("#answers").append(newAnswer);
      answerIndex++;
    });

    $(document).on('click', '.remove-answer', function(e) {
      e.preventDefault();
      $(this).closest('.answer-fields').remove();
    });
  });
</script>
