<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="mb-0">Kết quả bài quiz</h2>
  <a href="javascript:history.back()" class="btn btn-secondary">Quay lại</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Quiz</th>
      <th>Chủ đề</th>
      <th>Độ khó</th>
      <th>Điểm</th>
      <th>Đúng</th>
      <th>Sai</th>
      <th>Thời gian</th>
      <th>Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    <% @quiz_results.each do |result| %>
      <tr>
        <td><%= result.quiz.title %></td>
        <td><%= result.category.name %></td>
        <td><%= result.quiz.difficulty.capitalize %></td>
        <td><%= result.score %></td>
        <td><%= result.correct_answers %></td>
        <td><%= result.incorrect_answers %></td>
        <td><%= result.start_time.strftime("%H:%M %d/%m/%Y") %> - <%= result.end_time.strftime("%H:%M %d/%m/%Y") %></td>
        
        <td><%= result.status.capitalize %></td>
         <td>
            <a href="<%= history_detail_path(result) %>" class="btn btn-info btn-sm">Xem chi tiết</a> 
            <%# truyền id về controller history  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
